<mat-card>
  <mat-card-title>
    Attention Question
  </mat-card-title>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="submit()">
      <mat-form-field>
        <mat-label>What is 3 + 6?</mat-label>
        <input name="attention-answer" matInput required placeholder="Result" [(ngModel)]="attentionQuestionAnswer" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
